@using AstroPanda.Blazor.PowerBI.Services
@using Microsoft.JSInterop

<div @ref="powerBIReport" style="@($"width:{Width};height:{Height};max-width:{MaxWidth}")"></div>

@code  {

    [Inject]

    private PowerBIInterop _pbiInterop { get; set; }

    private ElementReference powerBIReport { get; set; }

    [Parameter]
    public string Width { get; set; } = "100%";

    [Parameter]
    public string Height { get; set; } = "600px";

    [Parameter]
    public string MaxWidth { get; set; } = "2000px";

    private Guid _workspaceId;

    [Parameter]
    public Guid WorkspaceId 
    {
        get => _workspaceId;
        set
        {
            if (_workspaceId != value)
                WorkspaceIdChanged.InvokeAsync(value);

            _workspaceId = value;
        }
    }

    [Parameter]
    public EventCallback<Guid> WorkspaceIdChanged { get; set; }

    private Guid _reportId;

    [Parameter]
    public Guid ReportId 
    {
        get => _reportId;
        set
        {
            if (_reportId != value)
                ReportIdChanged.InvokeAsync(value);

            _reportId = value;
        }
    }

    [Parameter]
    public EventCallback<Guid> ReportIdChanged { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await _pbiInterop.GenerateReport(powerBIReport, WorkspaceId, ReportId);
    }
}
